body {
  font-family: Arial, Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
.title1 {
  font-weight: 700;
  font-size: 56px;
  padding-right: 10px;
}
.title2 {
  font-weight: 100;
  font-size: 56px;
  color: gray;
}
.addList {
  display: flex;
  justify-content: space-between;
  float: right;
  /* border: 1px solid red; */
  align-items: center;
}
.flex {
  display: flex;
  width: 60vw;
  height: 800px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* align-items: center; */
  /* padding-left: 400px; */
}
.task {
  /* display: flex; */
  flex-direction: column;
  /* justify-content: space-between; */
  width: 25%;
  height: 250px;
  border: 2px solid tomato;
  border-radius: 10px;
  box-shadow: 4px 4px 12px gray;
  padding: 0px 0px 120px 0px;
  text-align: center;
}

.task_body {
  padding-top: 10px;
  font-size: 20px;
}
.task_title {
  padding: 20px 10px 20px 10px;
  font-weight: 300;
  margin: 10px 0px;
  font-size: 26px;
}
.material-icons {
  color: tomato;
  padding: 0px 10px;
  font-size: 40px;
}
.addText {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: 100px;
  color: gray;
}
.divv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  filter: blur(5px);
}
hr {
  width: 84%;
  margin-right: 0px;
}
/* span{
    font-weight:initial;
} */
a {
  text-decoration: none;
}
.addNewList {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid tomato;
  border-radius: 10px;
  text-align: center;
  width: 30vw;
  height: 35vh;
  z-index: 1;
  position: absolute;
  top: 40vh;
  left: 35vw;
  background-color: white;
  box-sizing: border-box;
  padding: 26px 0px 0px 0px;
  color: tomato;
  font-weight: lighter;
}
.inputText {
  width: 60%;
  height: 15%;
  box-shadow: 1px 1px 4px gray;
  border: 1px solid tomato;
  border-radius: 5px;
  padding: 0px 0px 10px 0px;
}
.btn {
  color: white;
  background-color: tomato;
  width: 150%;
  height: 120%;
  border-radius: 50px;
  font-size: 24px;
  margin: 10px 0px 0px 0px;
  position: relative;
  right: 20px;
}

@media all and (max-width: 480px) {
  * {
    margin: 0;
  }
  .divv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .container {
    display: flex;
    width: 80vw;
    height: 10vh;
    margin: 0;
    justify-content: space-between;
  }
  .title {
    display: flex;
    position: relative;
    left: -20px;
    align-items: center;
  }
  .title1 {
    font-size: 46px;
    font-weight: 700;
  }
  .title2 {
    font-weight: 100;
    font-size: 46px;
    color: gray;
  }
  .addText {
    display: inline;
  }
  .addList {
    display: inline;
  }
  .addListText {
    display: none;
  }
  .addIcon {
    font-size: 46px;
    position: relative;
    top: 10px;
  }

  .flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    align-items: center;
  }
  .task_body {
    display: none;
  }
  .task {
    width: 70vw;
    height: 1vh;
    box-shadow: 4px 4px 12px gray;
    padding: 0px 0px 50px 0px;
    text-align: center;
  }
  .task_title {
    padding: 5px 10px 5px 10px;
    font-weight: 300;
    /* margin: 10px 0px; */
    font-size: 26px;
  }
  .hr {
    display: none;
  }
  .break {
    display: none;
  }
  .addNewList {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid tomato;
    border-radius: 10px;
    text-align: center;
    width: 80vw;
    height: 35vh;
    z-index: 1;
    position: absolute;
    top: 250px;
    left: 50px;
    background-color: white;
    box-sizing: border-box;
    padding: 26px 0px 0px 0px;
    color: tomato;
    font-weight: lighter;
  }
  .inputText {
    width: 60%;
    height: 15%;
    box-shadow: 1px 1px 4px gray;
    border: 1px solid tomato;
    border-radius: 5px;
    padding: 0px 0px 10px 0px;
  }
  .btn {
    color: white;
    background-color: tomato;
    width: 150%;
    height: 120%;
    border-radius: 50px;
    font-size: 24px;
    margin: 10px 0px 0px 0px;
    position: relative;
    right: 20px;
  }
}
